@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../css/fonts/Quicksand-Bold/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),  url('../css/fonts/Quicksand-Bold/Quicksand-Bold.woff') format('woff'), url('../css/fonts/Quicksand-Bold/Quicksand-Bold.ttf')  format('truetype'), url('../css/fonts/Quicksand-Bold/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Quicksand-Light';
  src: url('../css/fonts/Quicksand-Light/Quicksand-Light.eot?#iefix') format('embedded-opentype'),  url('../css/fonts/Quicksand-Light/Quicksand-Light.woff') format('woff'), url('../css/fonts/Quicksand-Light/Quicksand-Light.ttf')  format('truetype'), url('../css/fonts/Quicksand-Light/Quicksand-Light.svg#../css/fonts/Quicksand-Light/Quicksand-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../css/fonts/Quicksand-Regular/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),  url('../css/fonts/Quicksand-Regular/Quicksand-Regular.woff') format('woff'), url('../css/fonts/Quicksand-Regular/Quicksand-Regular.ttf')  format('truetype'), url('../css/fonts/Quicksand-Regular/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html{
	background: #333;
}
body{
	
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 1024px;
	height: 600px;
	margin: 0;
}

.content{
	background: url(../img/background.jpg);
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);

	&.green{
		//background: #6cc700;
		background-color: #0196eb;
background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(255,255,255,.5) 2px, rgba(255,255,255,.5) 4px);
	}
}

.subRibbon{
	
	background: #B81010;
	color: white;
	font-family: "Quicksand-Bold";
	width: 200px;
	font-size: 1rem;
	padding: 8px 10px;
	position: absolute;
	z-index: 2;
	top: 62px;

	&:before{
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top: 18px solid transparent;
		border-left: 14px solid  #B81010;
		border-bottom: 20px solid transparent;
		position: absolute;
		right: -14px;
		top: 0px;
	}
}
.ribbon{
	background: rgb(226, 0, 0);
	color: white;
	font-family: "Quicksand-Bold";
	width: 400px;
	font-size: 1.7rem;
	padding: 8px 10px;
	position: relative;
	z-index: 2;

	&:before{
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top: 25px solid transparent;
		border-left: 17px solid #E20000;
		border-bottom: 28px solid transparent;
		position: absolute;
		right: -17px;
		top: 0px;
	}
}

.back-ribbon{
	background: #e20000;
	color: white;
	font-family: "Quicksand-Bold";
	width: 92px;
	font-size: 1rem;
	padding: 8px 10px;
	position: absolute;
	z-index: 2;
	right: 0px;
	text-align: center;
	bottom: 30px;
	transition: all .2s ease-in;

	&:hover{
		background: #B81010;
		color: white;

		&:before{
			border-right: 14px solid #B81010 !important;
		}
	}

	&:before{
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top: 19px solid transparent;
		border-right: 14px solid #e20000;
		border-bottom: 19px solid transparent;
		position: absolute;
		left: -14px;
		bottom: 1px;
	}	
}

.animales{
	list-style-type: none;
	position: relative;
	
	li{
		position: absolute;

		.has-tip{
			border: none;
		}

		.shape{
			width: 50px;
		}

		a{
			outline: none;
			color: inherit;
			overflow: hidden;
			display: block;
			position: relative;

			&:hover{
				overflow: visible;
				
				.over-content{
					opacity: 1;
				}				
			}
		}

	}
}

.over-content{
	opacity: 0;
	width: 270px;
	background-color: white;
	padding: 10px;
	border-radius: 14px;
	position: absolute;
	top: -11rem;
	left: 5rem;
	transition: all .2s ease-out;
	z-index: 10;

	&:after{
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-right: 15px solid #FFF;
		border-bottom: 20px solid transparent;
		position: absolute;
		left: -15px;
		top: 50%;
		transform: translateY(-50%);
	}

	h4{
		font-family: "Quicksand-Bold";	
		text-transform: capitalize;
		margin: 0;
	}
	
	p{
		font-family: "Quicksand-Bold";
		font-size: 12px;
		line-height: 1.2;
		margin: 0;
		padding: 0.5rem 0.1rem;
		text-align: justify;
	}

}

svg{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
}

g{
	transform-origin: center;
}
g:hover{
	cursor: pointer;
	opacity: 0.8;
	transition: all .2s ease-out;
}

.tooltip_m{
	background: rgb(226, 0, 0);
	position: absolute;
	width: 180px;
	height: 40px;
	color: white;
	text-align: center;
	font-family: Quicksand-Bold;
	padding: 10px 0;
	box-sizing: border-box;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	z-index: -1;
	opacity: 0;
	transition: all .2s ease-in-out;


	&.Caribe{
		left: 37%;
  		top: 14%;
	}
	&.Amazonas{
		left: 50%;
  		bottom: 33%;
	}
	&.Orinoquia{
		right: 31%;
  		top: 36%;
	}
	&.Pacifico{
		left: 30%;
  		top: 36%;
	}
	&.Andina{
		left: 39%;
  		top: 32%;
	}

	&.open{
		opacity: 1;
		z-index: 2;
	}
}

.tooltip_m:after, .tooltip_m:before{
	content: "";
	display: block;
}

.tooltip_m:after{
	width: 0;
	height: 0;
	border-top: 30px solid rgb(157, 22, 22);
	border-left: 73px solid transparent;
	position: absolute;
	top: 40px;
	left: 0;	
}

.tooltip_m:before{
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 30px solid rgb(184, 16, 16);
	border-bottom: 12px solid transparent;
	position: absolute;
	top: 57px;
	left: 43px;
}