<div id="" class="tooltip_m Andina">Region Andina</div>
<div id="" class="tooltip_m Orinoquia">Region Orinoquia</div>
<div id="" class="tooltip_m Caribe">Region Caribe</div>
<div id="" class="tooltip_m Amazonas">Region Amazonas</div>
<div id="" class="tooltip_m Pacifico">Region Pacifico</div>
<h2 class="subRibbon">{{ title }}</h2>
<div svg-map></div>
