<h2 class="subRibbon">{{ title }}</h2>
<div svg-region="{{ region }}"></div>
<ul class="animales">
	<li ng-repeat="animal in animales" style="left:{{ animal.x }}px; top:{{ animal.y }}px">
		<a href="#" ng-click="openInfo($event, animal.url)" >
			<img ng-src="animales/siluetas/{{ animal.shape }}" class="shape" alt="">
			<div class="over-content">
				<figure>
					<img ng-src="animales/imagenes/{{ animal.image }}" alt="">
				</figure>
				<h4>{{ animal.nombre }}</h4>
				<p>{{ animal.descripcion }}</p>
			</div>
		</a>
	</li>
</ul>
<a href="#/" class="back-ribbon">Volver</a>